/* About CSS file
Name: Andrea Cavalcanti Nascimento
Student Number: 301250129
Date: Oct 7th, 2022 */

body {
    min-height: 100vh;  
}

.title{
    text-align: center;
    border-bottom: 5px solid #5C2E7E;
    margin: 0 62px 30px 62px;
    padding-top: 50px;
    padding-bottom: 3px;
    font-size: 200%;
}

/* Main Container */
.main-container{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    max-width: 900px;
    margin: auto;
}

.img-container{
    display: flex;
    flex-direction: column;
    position: relative;
    top: 0;
    left: 0;
}

.img-circle{
    border: 5px solid #4C6793;
    border-radius: 100%;
    transform: rotate(0deg);
    animation: move 1.5s linear infinite;
    border-top: 8px solid #8BBCCC;
    position: relative;
    top: 0;
    left: 0;
}
@keyframes move{
    to{transform: rotate(360deg);}
}

.img-profile{
    position: absolute;
    top: 3px;
    left: 3px;
}

.para-name{
    text-align: center;
    font-size: 20px;
    color: #5C2E7E;
    font-weight: bold; 
    padding-top: 10px;   
}

.desc-container{
    font-size: 20px;
    font-weight: 500;
    padding: 70px;
}

/* Section container = Resume + Contact Button */
.section-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    max-width: 700px;
    margin: auto;
}

.downl{
    color: #646769;
    border-bottom: 3px solid #5d4170;
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 10px;
}

/* Donwload button */
.btn-resume {
    color: #ffffff;
    background-color: #8BBCCC;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 8px;
    border-style: none;
    box-sizing: border-box;
    padding: 20px 32px;
    margin-bottom: 30px;
}

.btn-resume:hover,
.btn-resume:focus {
    background-color: #1381a5;
    transform: scale(1.1);
}

/* Contact button */
.btn-contact {
    color: #ffffff;
    background-color: #4C6793;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 8px;
    border-style: none;
    box-sizing: border-box;
    padding: 20px 27px;
}

.btn-contact:hover,
.btn-contact:focus {
    background-color: #82a9e7;
    transform: scale(1.1);
}