<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- CSS -->
    <link rel="stylesheet" href="./styles/home.css" />
    <title>Home</title>
</head>
<body>   
    
    <!-- main container -->
    <main class="main-container">
        <!-- all content container -->
        <section class="content-container">
            <h1 class="title"><%= title %></h1>
            
            <!-- description container -->
            <section class="desc-container">
                <h2 class="description">I'm Andrea Cavalcanti, 
                    a Software Developer specialized in 
                    website and software creation.
                </h2> 
            </section>  
        
            <!-- mission container -->
            <section class="mission-container">
                <h3 class="mission">Mission:</h3>
                <p class="para-mission">Continuous improvement is my mindset.</p>
                <p class="para-mission">My vision is to strive to be the best version of myself constantly,
                    with my health, my family&friends and my professional life.</p>
            </section>
            
            <!-- button container -->
            <section class="btn-container">  
            <h4 class="learn">Learn More</h4>    
                <input class="btn-about" type="submit" value="About Me" onclick="clickAbout()">
            </section>
        </section>
        
        <!-- logo -->
        <img class="img-logo" src="./content/images/Logo.png" alt="Logo">
    </main>

    <!-- java script -->
    <script src="./scripts/app.js"></script>  
</body>
</html>




