<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1><%= title %></h1>
    <h2>I'm Andrea Cavalcanti, <br>
        a Software Developer specialized in <br>
        website and software creation.
    </h2> 

    <h3>Mission:</h3>
    <h4>Continuous improvement is my mindset.<br>
        My personal visions is to constantly strives to be the best version of myself,<br>
        with my health, my family&friends and my professional life<br>
    </h4>
    <input type="submit" value="About Me" onclick="clickAbout()">


    <!-- java script -->
    <script src="./scripts/app.js"></script>  
</body>
</html>




