 <!-- Name: Andrea Cavalcanti Nascimento | Student Number: 301250129
Date: Oct 7th, 2022 -->
 
 <!DOCTYPE html>
 <html lang="en">
 <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

   <!-- CSS -->
   <link rel="stylesheet" href="./styles/projects.css" />
    <title>Projects</title>
 </head>
 <body>

    <h1 class="title"><%= title %></h1>

    <!-- main container -->
    <main class="main-container">
      <!-- section project 1 -->
      <section class="projects-container">
         <h2 class="desc-title">Artist Vincent Van-Dog Website</h2>
         <p class="para">Website development using HTML, CSS, JavaScript, and GitHub.</p>
         <a href="./content/images/Project1.png">
            <img class="img-project img-1" src="./content/images/Project1.png" alt="Van-Dog project website">  
         </a>
      </section>   

      <!-- section project 2 -->
      <section class="projects-container">
         <h3 class="desc-title">Customer Management GUI application</h3>
         <p class="para">Database and Object Oriented programming with JDBC and Java.</p>
         <a href="./content/images/Project2.png">
            <img class="img-project img-2" src="./content/images/Project2.png" alt="Customer Management GUI application">
         </a>
      </section>
      
      <!-- section project 3 -->
      <section class="projects-container">
         <h4 class="desc-title">Menu-driven Travel Agency application</h4>
         <p class="para">Data Structures & Design Patterns using CRUD operations in C#.</p>
         <a href="./content/images/Project3_1.jpg">
            <img class="img-project img-3" src="./content/images/Project3.png" alt="Menu-driven app">
         </a>
      </section>   
   </main>

 </body>
 </html>