<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Services</title>

    <!-- CSS -->
    <link rel="stylesheet" href="./styles/services.css" />
</head>
<body>
    <h1 class="title" ><%= title %></h1>

    <section class="container-services1">
        <img class="img-services" src="./content/images/laptop.jpg" alt="Laptop">
        <ul class="list-style">        
            <li>General Programming</li>
            <li>Custom Website Development</li>
            <li>Software Application Development</li>
        </ul> 
    </section>

    <section class="container-services2">
        <ul class="list-style">        
            <li>Create Digital solutions to problems</li>
            <li>Enhance Flexibility</li>
            <li>Boost Productivity</li>
        </ul> 
        <img class="img-services" src="./content/images/lego.jpg" alt="Lego">
    </section>

    <!-- java script -->
    <script src="./scripts/app.js"></script>  
</body>
</html>

